*
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background: #68a4ff;
    user-select: none;
    -webkit-user-select: none;
    position: relative;
}

.title
{
    position: sticky;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 30px;
    background-color: #0005;
    color: #fff;
    font-family: monospace;
}

.time
{
    font-family: monospace;
    font-size: 30px;
    color: #000a;
    background-color: #3f6db157;
    box-shadow: inset 0 0 40px #fff,
                0 10px 20px #000a;
    border-radius: 10px;
    padding: 10px 20px;
}

.clock
{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff url(./as.png);
    background-size: cover;
    border-radius: 50%;
    border: 20px solid #fff;
    box-shadow: inset 0 0 30px rgba(0, 70, 200, 0.9),
                0 20px 20px rgba(0,0,0,0.4),
                0 0 0 4px rgba(200,255,255,1);
}

.clock::before
{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background: #846084;
    border: 1px solid #bd7ab4;
    z-index: 100000;
    border-radius: 50%;
}

.hour, .min, .sec
{
    position: absolute;
}

.hour, .hr
{
    width: 160px;
    height: 160px;

}

.min, .mn
{
    width: 190px;
    height: 190px;
    
}

.sec, .sc
{
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc
{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before
{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: #848484;
    z-index: 10;
    border-radius: 6px 6px 0 0 ;
}

.mn::before
{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background-color: #4134b9;
    z-index: 11;
    border-radius: 6px 6px 0 0 ;
}

.sc::before
{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: #941034;
    z-index: 12;
    border-radius: 6px 6px 0 0 ;
}